<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ets">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ETS">
        <activity android:name=".Activity.KiemKe_AddActivity" android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".Activity.KiemKe_CTActivity" android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".Activity.XuatKho_CTActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activity.Xuat_DC_CTActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Activity.KiemKeActivity" android:parentActivityName=".Activity.MainActivity"/>
        <activity android:name=".Activity.XuatKhoActivity" android:parentActivityName=".Activity.MainActivity"/>
        <activity android:name=".Activity.NhapDiChuyenActivity" />
        <activity android:name=".Activity.XuatDiChuyenActivity" android:parentActivityName=".Activity.MainActivity"/>
        <activity
            android:name=".Activity.ScannerActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>